#aboutme {
}

@media (min-width: 992px) {
  #aboutme {
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  #aboutme {
    max-width: 40%;
  }
}
@media (min-width: 1400px) {
  #aboutme {
    max-width: 40%;
  }
}
